<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row">

        <div class="col-md-6">

            <h1 class="form-signin-heading">Your profile</h1>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Full name</label>
                    <p class="form-control-static">{{ details?.name }}</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <p class="form-control-static">{{ details?.email }}</p>
                    <!-- Get Buyer Id -->
                    <!-- <p class="form-control-static">{{ details?._id }}</p> -->
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <!-- Input Search requests -->
                    <h1 class="form-signin-heading">Data search request</h1>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="Requested data" type="text" [(ngModel)]="searchInput" aria-label="Number" matInput [formControl]="myControlAuto" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="number" matInput placeholder="participant min" [(ngModel)]="participant_min">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput type="number" placeholder="participant max" [(ngModel)]="participant_max">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <input matInput placeholder="activity" type="text" [(ngModel)]="activity">
                            </mat-form-field>
                        </div>
                        <div class="form-group">

                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="deadline" placeholder="Choose a deadline">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                        <button (click)="Inputsearch(details?._id); refresh()" type="submit" class="btn btn-success">search</button>
                        <!-- Need to add the Buyers Id and email to the search request payload-->

                    </div>
                </div>
            </div>
        </div>

        <!-- Search request history-->
        <div class="container">
            <h2>List of searches</h2>

            <!-- <button (click)="searchReq()" type="button" class="btn btn-primary">List searches</button> -->
            <div class="reglist">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th>Num</th> -->
                            <th>Search</th>
                            <th>Participant_min</th>
                            <th>Participant_max</th>
                            <th>Activity</th>
                            <th>Deadline</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="response">
                        <tr *ngFor="let app of response; let i = index">
                            <!-- <th scope="row">{{ i + 1 }}</th> -->
                            <td>{{app.search}}</td>
                            <td>{{app.participant_min}}</td>
                            <td>{{app.participant_max}}</td>
                            <td>{{app.activity}}</td>
                            <td>{{app.deadline}}</td>
                            <td>
                                <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="text-right">
                    <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
                </div> -->
            </div>
            <!-- <div>
                <ul *ngIf="response">
                    <li *ngFor="let app of response">
                        <h1>
                            {{app.search}} {{app.participant_min}} {{app.deadline}}
                        </h1>
                    </li>
                </ul>
            </div> -->

        </div>
    </div>
</div>